<link rel="stylesheet" type="text/css" href="../public/history.css">
<html>

<div class="title"> Thanks for completing 
the game.</div>

<div class="headcoll">
    <div class="headinner1"></div>
    <div class="headinner2"></div>
    <div class="headinner3"></div>
    
    </div>
    <div class="middlecoll">
        <div class="middleinner1"></div>
        <div class="middleinner2"></div>
        <div class="middleinner3"></div>
    
    </div>
    <div class="rearcoll">
        <div class="rearinner1"></div>
        <div class="rearinner2"></div>
        <div class="rearinner3"></div>
        
    </div>



</html>
