body {
  background-image: url('/public/img/line@3x.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

body.start {
  background-color: #00cff7;
}

body.start .show-subject {
  display: flex;
}

body .show-subject {
  display: none;
  padding-top: 60px;
  position: relative;
  min-height: calc(100vh - 200px);

  justify-content: center;
  align-items: center;
}

.start .subject-area {
  min-width: 100%;
  height: calc(100vh - 200px);
  background: #1909d3;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start img {
  position: absolute;
  z-index: 0;
}

.start canvas {
  display: none;
}

.start .predict-area {
  display: none;
}

.subject-title {
  display: flex;
  flex-direction: column;
  margin-left: -200px;
}

.subject-title p {
  font-family: HighwayGothic;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.subject-title .subject {
  margin-top: 30px;
  width: 156.5px;
  height: 44px;
  font-family: HighwayGothic;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border-bottom: 2px solid #fff;
  padding: 10px 20px;
}

.subject-area .start-btn {
  margin-top: 50px;
  position: relative;
}

.subject-area .start-btn span {
  font-family: HighwayGothic;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.subject-area .start-btn div {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #f70084;
  border-radius: 50%;
  top: 10px;
  right: -110px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: #fff;
  font-family: HighwayGothic;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.predict-area {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
}

.predict-area .title {
  background-color: #f70084;
  padding: 15px;
  font-family: HighwayGothic;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  z-index: 2;
}

.predict-area .title span {
  border-bottom: 2px solid #fff;
  min-width: 100px;
  padding: 10px;
}

.predict-area .logo {
  position: absolute;
  right: -55px;
  top: -40px;
  z-index: 1;
  width: 100px;
}

.play-ok {
  width: 60px;
  height: 60px;
  background-color: #1909d3;
  border-radius: 50%;

  font-family: HighwayGothic;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  right: -45px;
  top: 120px;
}