<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') -%>
    <link rel="stylesheet" type="text/css" href="/public/css/play.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>

    <script>
      var problems = '<%= problem %>'
      var matrix = problems.split(',')
    </script>
    <script src="/public/js/play.js"></script>
    <script src="/public/js/sketch.js"></script>
  </head>
  <body class="start">
    <div class="container">
      <div class="show-subject">
        <div class="subject-area">
          <div class="subject-title">
            <p>The Subject is</p>
            <span class="subject"></span>
          </div>
          <div class="start-btn">
            <span>Start</span>
            <div class="start-ok">OK</div>
          </div>
        </div>
        <img src="/public/img/bg-1@2x.png">
      </div>
    </div>

    <div class="predict-area">
      <div class="title">...Umm...</div>
      <div class="title">That is <span class="predict"></span>?</div>
      <img src="/public/img/I_drawx2.png" class="logo">
      <div class="play-ok">
        OK
      </div>
      <div class="play-clear" id="clear">
        Clear
      </div>
    </div>
  </body>
</html>