<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') -%>
    <link rel="stylesheet" type="text/css" href="/public/css/play.css">
  </head>
  <body class="start">
    <div class="container">
      <div class="show-subject">
        <div class="subject-area">
          <div class="subject-title">
            <p>The Subject is</p>
            <span class="subject">보노보노</span>
          </div>
          <div class="start-btn">
            <span>Start</span>
            <div>OK</div>
          </div>
        </div>
        <img src="/public/img/bg-1@2x.png">
      </div>
    </div>
  </body>
</html>